/* ==========================================================================
   Nguyen Van Thanh
   ========================================================================== */
.main-title {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    background: #10b5c0;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}
/*all page introduce*/
.bg-page {
    /*background: url("../img/Background dich vu visa option 1.png") no-repeat;*/
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}
.bg-page .container {   
    background: rgba(255, 255, 255, 0.7);
} 
.wrap-page-introduce {
	margin: 30px 0px;
}
.wrap-page-introduce .wrap-content {
	margin-bottom: 30px;
}
.wrap-page-introduce .wrap-form {
	margin-bottom: 30px;
}
.wrap-page-introduce .wrap-list-post {
	margin-bottom: 30px;
}
.wrap-page-introduce .wrap-list-post ul, .wrap-page-introduce .wrap-list-post li {
	list-style: none;
    margin: 0px;
    padding: 0px;	
}
.wrap-page-introduce .wrap-list-post ul {

}
.wrap-page-introduce .wrap-list-post li {
	margin-bottom: 10px;
}
/*new style paging*/
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #fff;
    text-decoration:none;
}
 
.navigation li {
    display: inline;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #6FB7E9;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}
 
.navigation li a:hover,
.navigation li.active a {
    background-color: #3C8DC5;</span>
}

.img-in-Box img{
    /*max-width: 95%;*/
    max-height: 200px;  
    /*margin: 10px;*/
}


/*end new style paging*/


/*===============================

POST

================================*/
.header-cate{
    padding-top: 10px;
    text-transform: uppercase;
}

.article-header{
    margin-left: 35px;
    margin-right: 15px;
    font-weight: bold;
    /*margin-top: 0;*/
}

.p-lastest-post{
    padding-top: 5px;
}

.article-content{
    min-height: 180px;
}

.article-content-lastest{
    min-height: 50px;
}

.lastest-post-cate-box{
    min-height: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.lastest-post-cate-box p{
    border-top: 1px solid #e7e7e7;
}

.lastest-post-cate-box a{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.lastest-post-cate-box img{
    margin-bottom: 0;
}

.post-content-title{
    border-bottom: 1px solid  #da0158;
}

.article-header-single {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
}


.article-header-single-date{
    text-align: right;
    font-style: italic;
}

.a-black a{
    color: #000;
    font-weight: bold;
}

.a-black{   
    padding-bottom: 0;
    padding-left: 15px;
}

.tribe-events-list-widget ol li{
    margin-bottom : 0;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*========================
    Footer   
    =======================*/
#footer{
    padding-top: 10px;
}
    .footer-title{
    padding-bottom: 15px;
}

    .main-footer{
    position: relative;
}

#footer .container{
    background-color : #252525;
}

#container .container ,#footer .container{
    max-width: 1060px;
    height: auto;
}

.send-mail{
    margin-top: 20px !important;
}



/*Main*/

.cate-name-title-box,.tribe-events-list-widget{
    /*background-color: green;  */
    height: 45px;
    border-bottom: 1px dashed #e7e7e7;
}

.tribe-events-list-widget .widget-title{
    background-color: #fff;
}



.box-cate{
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
    box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
}

.recent-width{
    padding-left: 25px;
    padding-right: 25px;
}

.event-width{
    padding-left: 10px;
}

.register-receive-email{
    padding-top: 10px;
}

.tribe-events-list-widget .widget-title{
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px dashed #e7e7e7;
    padding-top: 23px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.tribe-events-list-widget .widget-title span{
    text-transform: uppercase;
    font-weight: bold;
}

.tribe-event-duration{
    font-size: 13px;
}

.tribe-events-event-image{
    margin-bottom: 0;
    text-align: left;
    margin: 0;    
    float: left;    
    padding: 5px 15px 0px 15px;
}

.tribe-events-event-image img {
    height: 40px;
    width: 40px !important;
}

.recent-author{
    float: left;
    padding-left: 10px;
    font-style: italic;
}

.recent-date{
    float: right;
    padding-right: 10px;
    font-style: italic;
}

.col-md-4-fix, .col-md-6-fix{
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-6-fix{
    padding-bottom: 40px;
}


/*====================

        PARTNER

=======================*/

 .partner-cate{
    border-bottom: 1px solid gray;
 }

.partner-box-title{
    padding-bottom: 15px;
    /*text-align: center;*/
    text-transform: uppercase;
    font-size: 20px;
}


.ul-partner-list li{
    list-style-type: none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
    display: none;
}
#showLess:hover {
    color:black;
}