
 .partner-cate{
    border-bottom: 1px solid gray;
 }

.partner-box-title{
    padding-bottom: 15px;
    /*text-align: center;*/
    text-transform: uppercase;
    font-size: 20px;
}


.ul-partner-list li{
    list-style-type: none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
    display: none;
}
#showLess:hover {
    color:black;
}

.showlessMoreLocation{
    text-align: center;
}

.row-height-partner {
    min-height: 200px;
}

.button_more_less{
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 15px 5px 15px;
    box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
}